.special {
    margin: 0 auto;
    width: 980px;
    padding-top: 197px;

    .titleSpecial {
        width: 199px;
        border-bottom: 2px solid black;
        position: absolute;
        top: 148px;
        height: 40px;

        h1 {
            font-family: 'Coming Soon', cursive;
            text-transform: uppercase;
            position: absolute;
            font-size: 21px;
            letter-spacing: 1px;
            width: 290px;
            height: 40px;
            bottom: -18px;
        }
    }

}

.specialWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 25px;

    .specialImage {
        width: 199px;
        height: 287px;
        margin-top: 35.5px;

        img {
            width: 199px;
            height: 287px;
            object-fit: cover;
        }
    }



    .specialBox {
        height: 287px;
        margin-top: 35.5px;
        position: relative;
        width: 315px;

        .titleSpecial-2 {
            width: 196px;
            border-bottom: 2px solid black;
            position: relative;
            margin-top: 50px;
            margin-left: 20.5px;

            h1 {
                font-family: 'Coming Soon', cursive;
                text-transform: uppercase;
                position: absolute;
                font-size: 20.5px;
                letter-spacing: 1px;
                width: 290px;
                height: 40px;
                bottom: -18px;
            }
        }
    }

    .specialParagraph {
        width: 290px;
        height: 131px;

        p {
            width: 290px;
            height: 131px;
            margin-left: 20.5px;
            margin-top: 21.5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 1.4px;
        }
    }

    .discount {
        p {
            color: #ff8442;
            font-family: 'Coming Soon', cursive;
            position: absolute;
            top: 0px;
            right: -15px;
            margin-top: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .learnMore {
        width: 133px;
        text-align: center;
        height: 40px;
        padding: 10px 30px;
        background-color: #79addc;
        border-radius: 30px;
        display: flex;
        position: absolute;
        bottom: 0px;
        left: 21px;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #4b6e8b;
        }

        p {
            color: white;
            font-size: 15px;
            text-transform: uppercase;
            position: absolute;
            font-family: 'Coming Soon', cursive;

        }
    }
}

.specialSpace {
    height: 75px;
}

@media only screen and (max-width: 1060px) {
    .specialWrapper {
        width: 300px;
        margin-left: 20%;
    }

    .specialBox {
        margin-left: -20px;
    }
}