* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {}


footer {
    width: 67.9%;
    height: 70px;
    background-color: #79ADDC;
    padding-top: 15px;
    margin: 0 auto;

    img {
        position: absolute;
        right: 0;
        margin-top: -35px;
        margin-right: 23%;
    }
}

.travel {
    margin-left: 10%;
    width: 92px;
    height: 42px;
    border: 2px solid white;

    p {
        color: white;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1.88px;
        margin-top: 20px;
    }

}

#foot {
    color: white;
    text-align: center;
    margin-top: -30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}




@media only screen and (max-width: 1115px) {

    #foot {
        width: 200px;
        height: 70px;
        position: relative;
        margin-top: -57px;
        padding-top: 17px;
    }

    footer {
        img {
            margin-top: -60px;
        }
    }

}

@media only screen and (max-width: 950px) {

    #foot {
        width: 110px;
        height: 70px;
        position: relative;
        margin-top: -57px;
        padding-top: 10px;
    }

    footer {
        img {
            margin-top: -60px;
            margin-right: 17%;
        }
    }
}

