* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 16px;
}

.site-containerHome {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 500px;
}

.splash {
    img {
        width: 100%;
        height: 500px;
        filter: brightness(70%);
        z-index: 99;
    }
}

// @font-face {
//     font-family: 'Proxima';
//     // src: url("../fonts/ProximaNovaScOsfExtraCondensed.ttf") format('truetype');
// }
