.wrapperTourList {
    margin: 0 auto;
    display: flex;
    min-height: 500px;
    width: 818px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 190px;

    .tour {
        width: 236px;
        height: 304px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 55px;
        font-family: 'Coming Soon';

        img {
            width: 100%;
            height: 304px;
            object-fit: cover;
            filter: brightness(0.5);
        }

        .ontop {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            color: white;
            margin-bottom: 5px;
        }

        .price {
            margin-bottom: 56px;
            text-transform: uppercase;
            color: white;
        }

        .learnMore {
            width: 133px;
            text-align: center;
            height: 40px;
            padding: 10px 30px;
            background-color: #79addc;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            cursor: pointer; 

            &:hover {
                background-color: #4b6e8b;
            }

            p {
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                position: absolute;

            }
        }
    }
}

.headerTourList {
    width: 51.2%;
    height: 200px;
    padding-top: 142px;
    margin: 0 auto;
    position: relative;
    text-align: center;

    .text {
        display: flex;
        justify-content: center;

        h1 {
            color: white;
            font-size: 50px;
            letter-spacing: 5px;
            padding-top: 60px;
            font-family: 'Coming Soon', cursive;
            position: absolute;
            z-index: 98;
        }

    }

    img {
        margin: 0 auto;
        width: 100%;
        height: 200px;
        object-fit: cover;
        filter: brightness(0.6);
    }
}


@media only screen and (max-width: 855px) {
    .wrapperTourList {
        width: 527px;
    }
}

@media only screen and (max-width: 590px) {
    .wrapperTourList {
        width: 236px;
    }
}