.home {
    .hero {
        position: relative;

        h1 {
            font-size: 60px;
            color: white;
            font-family: 'Coming Soon', cursive;
            text-align: center;
            margin-top: -338px;
        }

        p {
            font-size: 20px;
            color: white;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width: 36%;
            margin: 0 auto;
        }

        .read-more {
            height: 40px;
            cursor: pointer;
            width: 122px;
            background-color: #79ADDC;
            font-size: 15px;
            position: relative;
            text-align: center;
            margin: 0 auto;
            letter-spacing: 1px;
            padding-top: 10px;
            margin-top: 50px;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            &:hover {
                background-color: #4b6e8b;
            }
        }
    }
}

.promo-trips {
    max-width: 1280px;
    margin: 0 auto;


    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: -50px;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;

        .tripBox {
            .elements {
                h1 {
                    font-family: 'Coming Soon', cursive;

                }

                h3 {
                    font-family: 'Coming Soon', cursive;

                }
            }
        }
    }
}

.booking {
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;
    height: 1000px;

    .booking-wrapper {
        width: 65%;
        margin: 0 auto;

        #Booking {
            color: black;
            position: absolute;
            font-size: 60px;
            margin-left: 1%;
            margin-top: 50px;
            font-family: 'Coming Soon', cursive;

        }
    }
}

#Name {
    height: 58px;
    width: 41%;
    font-size: 18px;
    margin: 2%;
    margin-top: 150px;
    border-color: #79ADDC;
}

#Email {
    height: 58px;
    width: 52.5%;
    font-size: 18px;
    margin: 0%;
    margin-top: 150px;
    border-color: #79ADDC;
}

#Country {
    height: 58px;
    width: 41%;
    font-size: 18px;
    margin: 2%;
    margin-top: 20px;
    border-color: #79ADDC;
}

#Hotel {
    height: 58px;
    width: 52.5%;
    font-size: 18px;
    margin: 0%;
    margin-top: 20px;
    border-color: #79ADDC;
}

#CheckInLabel {
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1%;
    width: 100px;
    margin-top: 40px;
    position: absolute;
}

#CheckIn {
    height: 58px;
    width: 80%;
    font-size: 18px;
    margin-left: 18%;
    margin-top: 20px;
    border-color: #79ADDC;
}

#CheckOutLabel {
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1%;
    width: 100px;
    margin-top: 40px;
    position: absolute;
}

#CheckOut {
    height: 58px;
    width: 80%;
    font-size: 18px;
    margin-left: 18%;
    margin-top: 20px;
    border-color: #79ADDC;
}

#Adult {
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1%;
    width: 100px;
    margin-top: 50px;
    position: absolute;
}

#AdultDropbox {
    width: 103px;
    height: 58px;
    margin-left: 18%;
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: #79ADDC;
}

#Children {
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 320px;
    width: 100px;
    margin-top: -40px;
    position: absolute;
}

#ChildDropbox {
    width: 103px;
    height: 58px;
    margin-left: 10%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    position: absolute;
    border-color: #79ADDC;
}

#Rooms {
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 600px;
    margin-top: -42px;
    width: 100px;
    position: absolute;
}

#RoomDropbox {
    width: 103px;
    height: 58px;
    margin-left: 24%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    position: absolute;
    border-color: #79ADDC;
}

#Textbox {
    height: 192px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 130px;
    position: absolute;
    border-color: #79ADDC;
    outline: 0px;
}

.submit {
    height: 70px;
    width: 42%;
    cursor: pointer;
    background-color: #79ADDC;
    font-size: 15px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 275px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: #79ADDC;

    &:hover {
        background-color: #4b6e8b;
    }
}

footer {
    height: 70px;
    background-color: #79ADDC;
    padding-top: 15px;
    width: 67.5%;
    margin: 0 auto;



    img {
        position: absolute;
        right: 0;
        margin-top: -55px;
        margin-right: 23%;
    }
}

.travel {
    margin-left: 10%;
    width: 92px;
    height: 42px;
    border: 2px solid white;

    p {
        color: white;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1.88px;
        margin-top: 20px;
    }

}

#foot {
    color: white;
    text-align: center;
    margin-top: -30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 1706px) {

    #AdultDropbox {
        margin-left: 10%;
    }

    #Children {
        margin-left: 250px;
    }

    #Rooms {
        margin-left: 500px;
    }

    #RoomDropbox {
        margin-left: 24%;
    }
}

@media only screen and (max-width: 1550px) {
    #Adult {
        margin-top: 5px;
    }

    #AdultDropbox {
        margin-left: 15px;
    }

    #Children {
        margin-top: -82px;
        margin-left: 168px;

    }

    #ChildDropbox {
        margin-left: 50px;
    }

    #Rooms {
        margin-top: -82px;
        margin-left: 325px;
    }

    #RoomDropbox {
        margin-left: 208px;
    }

}


@media only screen and (max-width: 1115px) {

    #foot {
        width: 200px;
        height: 70px;
        position: relative;
        margin-top: -57px;
        padding-top: 17px;
    }

    footer {
        img {
            margin-top: -80px;
        }
    }

}

@media only screen and (max-width: 950px) {

    #foot {
        width: 110px;
        height: 70px;
        position: relative;
        margin-top: -57px;
        padding-top: 10px;
    }

    footer {
        img {
            margin-top: -80px;
            margin-right: 17%;
        }
    }

}